<div class="header">
  <h3 class="text-muted">Degree evaluations</h3>
</div>

<ul class="nav nav-pills">
    <li><a ng-href="#">Tutkinnot</a></li>
    <li class="active"><a ng-href="#attach">Suoritukset</a></li>
</ul>

<h1>Täällä tallennellaan opintosuorituksia</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <div class="btn-group-vertical">
                    <button class="btn" ng-click="selectStudent(student)" 
                        ng-class="{ 'btn-info' : selectedStudent.id == student.id}" ng-repeat="student in data.allStudents">{{student.name}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="well">
                <div ng-if="selectedStudent != null">
                    <div class="panel panel-default">
                      <div class="panel-body">
                      <!-- Nav tabs -->

                         <div>Opiskelija: {{selectedStudent.name}}</div>
                         <div>Suoritusten määrä: {{data.studyRecords.length}}</div>
                          <tabset justified="true">
                            <tab heading="Suoritukset">
                                <table class="table table-bordered">
                                    <thead>
                                        <td>Nimi</td>
                                        <td>Arvosana</td>
                                        <td>Päivämäärä</td>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="record in data.studyRecords">
                                            <td>{{record.name}}</td>
                                            <td>{{record.grade}}</td>
                                            <td>{{record.gradeDate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </tab>
                            <tab heading="Tallenna suoritus">
                                 <table class="table table-bordered">
                                    <thead>
                                        <td>Nimi</td>
                                        <td>Arvosana</td>
                                        <td>Päivämäärä</td>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="evaluationDummy in evaluationDummys" ng-class="{success : studentHas(evaluationDummy.idIdea)}">
                                            <td>{{evaluationDummy.name}}</td>
                                            <td ng-if="!studentHas(evaluationDummy.idIdea)">
                                                <select ng-model="evaluationDummy.grade" class="form-control">
                                                  <option>1</option>
                                                  <option>2</option>
                                                  <option>3</option>
                                                  <option>4</option>
                                                  <option>5</option>
                                                </select>
                                            </td>
                                            <td ng-if="studentHas(evaluationDummy.idIdea)">
                                                {{evaluationDummy.grade}}
                                            </td>
                                            <td>
                                                <button ng-if="!studentHas(evaluationDummy.idIdea)" ng-click="saveEvaluation(evaluationDummy)" ng-disabled="evaluationDummy.grade == 0" class="btn">Tallenna</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </tab>
                           </tabset>

                      </div>
                    </div>
                </div>
                <div ng-if="selectedStudent == null" class="alert alert-info">
                    Valkkaa ensin opiskelija tuosta oikealta!!
                </div>
            </div>
        </div>
    </div>
</div>
