<div class="header">
  <h3 class="text-muted">Degree evaluations</h3>
</div>

<ul class="nav nav-pills">
    <li class="active"><a ng-href="#">Tutkinnot</a></li>
    <li><a ng-href="#attach">Suoritukset</a></li>
</ul>

<h1>Tutkintorakenne</h1>

<div class="container-fluid">
   <div class="row">
        <div class="col-md-2">
            <div class="well">
                <div class="btn-group-vertical">
                    <button class="btn" ng-click="selectStudent(student)" 
                        ng-class="{ 'btn-info' : selectedStudent.id == student.id}" ng-repeat="student in data.allStudents">{{student.name}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="well">
            
                <div ng-if="selectedStudent == null" class="alert alert-info">
                    Valkkaa ensin opiskelija tuosta oikealta!!
                </div>
                <div ng-if="selectedStudent != null">
                    <div class="panel panel-default">
                      <div class="panel-body">
                 
                            
                            <div class="pull-right">
                                <input type="checkbox" ng-model="editMode"/> Muokkaa
                            </div>
                             <div ng-if="degreeStructureData.userPlans.degreeStructures.length == 0" class="alert alert-info">
                                Hällä ei ole suunnitelmia
                            </div>
                            <div class="btn-group-vertical">
                                <button class="btn" ng-repeat="plan in degreeStructureData.userPlans.degreeStructures" ng-click="selectPlan(plan)">{{plan.name}}</button>
                            </div>
                            
                            <div  ng-if="degreeStructureData.currentDegreeStructure != null">
                                 <h4>{{degreeStructureData.currentDegreeStructure.name}}</h4>
                                 <hops-tree-control class="hops-tree-control" hops-model="degreeStructureData.currentDegreeStructure" edit-mode="editMode">
                                    <span ng-class="{selected: node.selected && editMode, unselected: !node.selected && editMode}">
                                        <label ng-if="shouldDisplaySelect()" style="font-weight:normal;">
                                            <input class="treeCheckbox" style="display:none" ng-disabled="!editMode" type="checkbox" ng-model="node.selected" ng-change="select()"/>
                                            <span ng-class="{evaluated: node.grade, mandatory: node.mandatory, optional: !node.mandatory, mount: node.mount}">{{node.name}} {{node.id_idea}}</span>
                                        </label>
                                        <span ng-if="!shouldDisplaySelect()" ng-class="{evaluated: node.grade, mandatory: node.mandatory, optional: !node.mandatory, mount: node.mount}">{{node.name}} {{node.id_idea}}</span>
                                        <span ng-if="node.grade" class="evaluation_badge"><span class="glyphicon glyphicon-ok" style="color:green"></span> {{node.studyRecordName}} {{node.grade}} {{node.gradeDate}}</span>
                                    </span>
                                </hops-tree-control>
                            </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
                      
                      
                      

</div>
