/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Olennainen CSS */
.hops-tree-control input.treeCheckbox {
    margin:0;
}    
  
.hops-tree-control ul {
    list-style: none;
}
.hops-tree-control li {
    list-style: none;
}
.evaluated {
    font-weight:bold;
}
.evaluation_badge {
    background-color:lightgreen;
    padding:2px;
    font-size:10px;
    border-radius:3px;
    border: 1px solid rgb(70,188,70);
}

.mandatory {
    color: blue;
}
.optional {
    color: green;
}
.mount {
    color: red;
}
.selected {
    background-color:inherit;
    cursor:pointer;
}
.unselected {
    background-color:#ddd;
    opacity:0.5;
    cursor:pointer;
}


/* Olennainen CSS loppuu*/

/* general tree css */

treecontrol {
    /* prevent user selection */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* default */
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size:13px;
    color: #555;
    text-decoration: none;
}

treecontrol ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden;
}

treecontrol li {
    position: relative;
    padding: 0 0 0 20px;
    line-height: 20px;
}

treecontrol li.tree-expanded i.tree-normal, treecontrol li.tree-collapsed i.tree-normal {display:none;}
treecontrol li.tree-expanded i.tree-has-children, treecontrol li.tree-collapsed i.tree-has-children {display:inline;}
treecontrol li.tree-normal i.tree-has-children {display:none;}
treecontrol li.tree-normal i.tree-normal {display:inline;}

treecontrol li i {
    cursor: pointer;
}

treecontrol li .tree-label {
    cursor: pointer;
    display: inline;
}

/* classic tree css */

treecontrol.tree-classic li.tree-expanded i {
    padding: 1px 10px;
    background: url("https://raw.github.com/wix/angular.treecontrol/master/images/folder.png") no-repeat;
}

treecontrol.tree-classic li.tree-collapsed i {
    padding: 1px 10px;
    background: url("https://raw.github.com/wix/angular.treecontrol/master/images/folder-closed.png") no-repeat;
}

treecontrol.tree-classic li.tree-empty i {
    padding: 1px 10px;
    background: url("http://www.famfamfam.com/lab/icons/silk/icons/folder_delete.png") no-repeat;
}

.tree-hidden {
    display:none;
}

treecontrol.tree-classic li.tree-normal i {
    padding: 1px 10px;
    background: url("https://raw.github.com/wix/angular.treecontrol/master/images/file.png") no-repeat;
}

treecontrol.tree-classic li .tree-selected {
    background-color: #aaddff;
    font-weight: bold;
}

/* light tree css */

treecontrol.tree-light li.tree-expanded i {
    padding: 1px 10px;
    background: url("https://raw.github.com/wix/angular.treecontrol/master/images/node-opened-2.png") no-repeat;
}

treecontrol.tree-light li.tree-collapsed i {
    padding: 1px 10px;
    background: url("https://raw.github.com/wix/angular.treecontrol/master/images/node-closed-2.png") no-repeat;
}

treecontrol.tree-light li.tree-normal i {
    padding: 1px 10px;
    width: 16px; height: 16px;
    background: none no-repeat;
}

treecontrol.tree-light li .tree-selected {
    font-weight: bold;
}

/* dark tree css */

treecontrol.tree-dark li.tree-expanded i {
    padding: 1px 10px;
    background: url("https://raw.github.com/wix/angular.treecontrol/master/images/node-opened-light.png") no-repeat;
}

treecontrol.tree-dark li.tree-collapsed i {
    padding: 1px 10px;
    background: url("https://raw.github.com/wix/angular.treecontrol/master/images/node-closed-light.png") no-repeat;
}

treecontrol.tree-dark li.tree-normal i {
    padding: 1px 10px;
    width: 16px; height: 16px;
    background: none no-repeat;
}

treecontrol.tree-dark li .tree-selected {
    font-weight: bold;
}

treecontrol.tree-dark {
    color: #ddd;
}

/* general styles for the demo */
h2, h3 {font-family: Georgia; font-style: italic}
.tree-border {flex: 1;border: 1px solid #47a; box-shadow: 2px 2px 2px 2px #257; margin: 0 5px; overflow: scroll}
.fake-link {color: blue; text-decoration: underline; cursor: pointer;}

.node_evaluated {
    background-color:#33FF66;
}
